body {
    background-color: #DCDCDC;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
}

form {
    margin-bottom: 50px;
}

h1 {
    font-family: 'Orbitron', sans-serif;
    margin-top: 100px;
    margin-bottom: 100px;
}

h2 {
    margin-top: 20px;
    margin-bottom: 100px;
}

input[type="radio"]{
    display: none;
}

label {
    color: black;
    font-family: 'Poppins', sans-serif;
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px 50px;
}

input[type="radio"]:checked + label {
    background-color: black;
    color: #DCDCDC;
}



legend {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

/* The division where the user is asked to enter their name */
#enterName {
    margin-bottom: 75px;
}

/* The division of each question */
.question {
    margin-bottom: 30px;
}

.submit-button {
    margin-bottom: 50px;
    margin-left: 50px;
    
}

ul {
    list-style-type: none;
}