body {
    background-color: #FFD700;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
}

form {
    margin-bottom: 50px;
}

h1 {
    margin-top: 100px;
    margin-bottom: 100px;
}

h2 {
    margin-top: 20px;
    margin-bottom: 100px;
}

/* The division where the user is asked to enter their name */
#enterName {
    margin-bottom: 75px;
}

/* The division of each question */
.question {
    margin-bottom: 30px;
}

.submit-button {
    margin-bottom: 50px;
    margin-left: 50px;
    
}

ul {
    list-style-type: none;
}